<form action="#" method="GET">
  {{ csrfField() }}
  <fieldset>
    <button
      {{ $props.merge({ type: 'text', class:'bg-blue-500 text-center w-full  px-4 p-2 rounded-full font-semibold' }).toAttrs() }}
    >
      {{ text || 'Tweet' }}
    </button>
  </fieldset>

</form>
