<form action="/tweet" method="GET">
  {{ csrfField() }}
  <fieldset>
    <button
      {{ $props.merge({ type: 'text', class:'bg-blue-500 text-center w-full px-4 py-4 rounded-full font-semibold transition duration-300 ease hover:bg-blue-600' }).toAttrs() }}
    >
      {{ text || 'Tweet' }}
    </button>
  </fieldset>

</form>
