<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title || "Twitter-X" }}
    </title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.min.css"
    />

    {{--  <style>
      :root {
        --sand-1: #fdfdfc;
        --sand-2: #f9f9f8;
        --sand-3: #f1f0ef;
        --sand-4: #e9e8e6;
        --sand-5: #e2e1de;
        --sand-6: #dad9d6;
        --sand-7: #cfceca;
        --sand-8: #bcbbb5;
        --sand-9: #8d8d86;
        --sand-10: #82827c;
        --sand-11: #63635e;
        --sand-12: #21201c;
      }
     
    </style>  --}}
  

    <script src="https://cdn.tailwindcss.com">
      
    </script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: [ "Instrument Sans", "sans-serif" ]
            },
            colors: {
              primary: {
                DEFAULT: "#5A45FF",
                lighter: "#a599ff"
              },
              sand: {
                1: "var(--sand-1)",
                2: "var(--sand-2)",
                3: "var(--sand-3)",
                4: "var(--sand-4)",
                5: "var(--sand-5)",
                6: "var(--sand-6)",
                7: "var(--sand-7)",
                8: "var(--sand-8)",
                9: "var(--sand-9)",
                10: "var(--sand-10)",
                11: "var(--sand-11)",
                12: "var(--sand-12)"
              }
            }
          }
        }
      };
    </script>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')

    {{--  CDN Emoji Picker   --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.18.0/index.min.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@1.18.0/index.min.js"></script>

    {{--  CDN d'alpinejs  --}}
    <script src="https://unpkg.com/alpinejs" defer></script>

    {{--  CDN de loaders-css  --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/loaders.css@0.1.2/loaders.min.css">

    <style>
      .loader-inner div{
        background-color: #1DA1F2;
      }
    </style>
  </head>
  <body class="bg-black text-white font-sans flex lg:justify-center md:min-h-screen">
    <header class="hidden md:block md:w-[15%] lg:w-[15%] space-y-10 lg:p-0 relative">

      <nav class="fixed">

        <div class="space-y-6 lg:space-y-2">

          <section class="space-y-2 mt-6">
            <div class="flex justify-center mb-12">
              <img src="/public/uploads/twitter-logo.svg" alt="logo" />
            </div>
            <div>
              <a href="/">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <img src="/public/uploads/home.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    home
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <img src="/public/uploads/diez.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    explore
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="/notifications">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <div class="relative">
                    @if(notifications > 0)
                      <p class="absolute text-center bg-blue-500 rounded-full text-xs w-4 h-4 -top-1 -right-1">
                        {{ notifications }}
                      </p>
                    @end
                    <img src="/public/uploads/notification.svg" alt="" />
                  </div>
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block ">
                    notification
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <img src="/public/uploads/message.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    messages
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <img src="/public/uploads/badge.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    bookmarks
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <img src="/public/uploads/list.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    lists
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="/profil">
                <div
                  class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327]  rounded-full lg:px-6 py-4"
                >
                  <img src="/public/uploads/profil.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    profil
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center justify-center transition duration-400 ease hover:bg-[#202327] rounded-full lg:px-6 py-4">
                  <img src="/public/uploads/etc-circle.svg" alt="" />
                  <P class="pl-4 font-semibold text-lg capitalize hidden lg:block">
                    more
                  </P>
                </div>
              </a>
            </div>
          </section>

          <div class="mr-4 w-full">
            <button
              type="button"
              onclick="openModal()"
              class="bg-blue-500 text-center w-full px-4 py-4 rounded-full font-semibold transition duration-300 ease hover:bg-blue-600"
            >
              Tweet
            </button>
          </div>
        </div>

        <div class="profil hidden lg:flex items-center space-x-4 fixed bottom-10">
          <a href="/profil">
            @if(user.profilLink)
              <div class="bg-[url({{ user.profilLink }})] w-16 h-16 rounded-full bg-cover bg-center">

              </div>
            @else
              <div class="w-16 h-16 bg-zinc-800 rounded-full flex items-center justify-center">
                {{ user.fullName.substring(0, 1).toUpperCase() }}
              </div>
            @endif
          </a>
          <div>
            <div class="flex items-center gap-1">
              <p class="font-bold capitalize">
                {{ user.fullName }}
              </p>

              <img src="/public/uploads/lock.svg" alt="" />

            </div>
            <p class="text-gray-600">
              {{ user.userName }}
            </p>
          </div>
          <img src="/public/uploads/etc.svg" alt="" />
        </div>
      </nav>
    </header>
    <main class="flex justify-center md:w-[75%] lg:w-[35%] min-h-screen">
      {{{ await $slots.main() }}}
    </main>
    <nav class="md:w-1/2 md:px-4 lg:w-[20%] relative">
      <section class="hidden md:flex flex-col py-4 space-y-8 fixed mr-2">
        <div class="flex items-center w-full">
          <fieldset class="w-full relative">
            <i class="bi bi-search absolute text-gray-500 left-4 top-2"></i>
            <input
              type="search"
              name="search"
              id=""
              class="bg-[#202327] rounded-full py-2 pl-12 w-full"
              placeholder="Search Twitter"
            />
          </fieldset>
        </div>

        <section class="bg-[#202327] rounded-lg w-full md:px-2 md:py-4 lg:p-4 space-y-6">
          <div class="py-4">
            <h2 class="font-bold text-xl">
              Trends for you
            </h2>
            <div>

            </div>
          </div>

          <div class="space-y-4">
            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <p class="text-[#6E767D]">
                  Trending in Turkey
                </p>
                <img src="/public/uploads/etc.svg" alt="" />
              </div>
              <h3 class="text-md font-bold">
                #SQUID
              </h3>
              <p class="text-[#6E767D]">
                2,066 Tweets
              </p>
            </div>

            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <p class="text-[#6E767D]">
                  Trending in Turkey
                </p>
                <img src="/public/uploads/etc.svg" alt="" />
              </div>
              <h3 class="text-md font-bold">
                #SQUID
              </h3>
              <p class="text-[#6E767D]">
                2,066 Tweets
              </p>
            </div>

            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <p class="text-[#6E767D]">
                  Trending in Turkey
                </p>
                <img src="/public/uploads/etc.svg" alt="" />
              </div>
              <h3 class="text-md font-bold">
                #SQUID
              </h3>
              <p class="text-[#6E767D]">
                2,066 Tweets
              </p>
            </div>

          </div>
          <div class="text-blue-400 mb-4">
            <a href="#" class="font-semibold">Show more</a>
          </div>
        </section>

        <div class="space-y-2">
          <section class="bg-[#202327] rounded-lg w-full md:px-2 md:py-4 lg:p-4 space-y-4">
            <div class="pb-6">
              <h2 class="font-bold text-xl">
                Who to follow
              </h2>
              <div>
                <i></i>
              </div>
            </div>

            <div class="space-y-2">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <img src="/public/uploads/image-2(1).png" alt="" />
                  <div class="">
                    <div class="flex items-center gap-2">
                      <p class="capitalize ">
                        the new york times
                      </p>
                      <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                    </div>
                    <p class="text-[#6E767D]">
                      @nytimes
                    </p>
                  </div>
                </div>
                @component('components/followBtn', {  })

                @end
              </div>
            </div>

            <div class="space-y-2">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <img src="/public/uploads/image-1(1).png" alt="" />
                  <div class="">
                    <div class="flex items-center gap-2">
                      <p class="capitalize ">
                        CNN
                      </p>
                      <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                    </div>
                    <p class="text-[#6E767D]">
                      @CNN
                    </p>
                  </div>
                </div>
                @component('components/followBtn', {  })

                @end
              </div>
            </div>

            <div class="space-y-2">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-2">
                  <img src="/public/uploads/image-3.png" alt="" />
                  <div class="">
                    <div class="flex items-center gap-2">
                      <p class="capitalize ">
                        twitter
                      </p>
                      <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                    </div>
                    <p class="text-[#6E767D]">
                      @Twitter
                    </p>
                  </div>
                </div>
                @component('components/followBtn', {})

                @end
              </div>
            </div>
            <div class="text-blue-400 my-4">
              <a href="#" class="font-semibold">Show more</a>
            </div>
          </section>

          <div class="text-[#6E767D] text-[13px] text-center flex flex-col items-center">
            <div class="flex items-center gap-2 text-center">
              <p>
                Terms of Service
              </p>
              <p>
                Privacy Policy
              </p>
              <p>
                Cookie Policy
              </p>
            </div>
            <div class="flex items-center gap-2 text-center">
              <p>
                Imprint
              </p>
              <p>
                Ads info
              </p>
              <p>
                More...
              </p>
              <p>
                &COPY;2025 Twitter, Inc.
              </p>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <script type="module">
      document.addEventListener("DOMContentLoaded", () => {
        const picker = document.getElementById("emojiPicker");
        const textarea = document.getElementById("tweetContent");
        const emojiBtn = document.querySelector('button[onclick="toggleEmojiPicker()"]');
        // Toggle affichage du picker
        window.toggleEmojiPicker = () => {
          picker.style.display = picker.style.display === "none" ? "block" : "none";
        };
        if (picker) {
          // Insérer l’emoji dans le textarea
          picker.addEventListener("emoji-click", event => {
            const emoji = event.detail.unicode;
            const start = textarea.selectionStart;
            const end = textarea.selectionEnd;
            const value = textarea.value;
            textarea.value = value.slice(0, start) + emoji + value.slice(end);
            textarea.focus();
            textarea.setSelectionRange(start + emoji.length, start + emoji.length);
          });
        }
        // Fermer l'emoji picker si on clique à l’extérieur
        document.addEventListener("click", e => {
          const isClickInside = picker.contains(e.target) || emojiBtn.contains(e.target);
          if (!isClickInside) picker.style.display = "none";
        });
        let currentlyOpenTrash = null;
        document.querySelectorAll(".delete-btn").forEach(btn => {
          btn.addEventListener("click", e => {
            e.stopPropagation();
            const parent = btn.closest(".relative");
            const trash = parent.querySelector(".trash");
            // Si un autre menu est ouvert on le ferme
            if (currentlyOpenTrash && currentlyOpenTrash !== trash) {
              currentlyOpenTrash.classList.add("hidden");
            }
            trash.classList.toggle("hidden");
            currentlyOpenTrash = trash.classList.contains("hidden") ? null : trash;
          });
        });
        // Si on clique ailleurs on ferme le bouton pour supprime avec la notification
        document.addEventListener("click", () => {
          if (currentlyOpenTrash) {
            currentlyOpenTrash.classList.add("hidden");
            currentlyOpenTrash = null;
          }
        });

        window.addEventListener('load',()=>{
            setTimeout(()=>{
              const loader = document.querySelector('#loader-screen')
              const content = document.querySelector('#myAppContent')
              loader.classList.add('hidden')
              content.classList.remove('hidden')

            }, 3000)
          })
      });
      
      const followBtn = document.querySelectorAll("#follow");
      
      followBtn.forEach(follow => {
        follow.addEventListener("active", () => {
          follow.classList.add("bg-white/50");
          follow.classList.remove("bg-white");
          follow.classList.remove("hover:bg-white/80");
        });
      });
    </script>
  </body>
</html>
