
@layout.app({title:"Home"})
  @slot('main')

    <div class="">
      <section class="min-h-screen md:border-x border-gray-700  relative">
        <div>
          <nav class="flex items-center justify-between px-2 py-4 md:p-4 border-b  border-gray-700">
            <p class="capitalize font-semibold text-xl">
              home
            </p>
            <img src="/public/uploads/logo1.svg" alt="home icon" class="w-6 h-6" />
          </nav>
          <div class="user border-b border-gray-700 flex justify-between px-2 py-4 md:p-4 min-h-36 md:min-h-42 lg:min-h-48 relative">
            <div class="flex  md:space-x-4">
              <div>
                <a href="/profil">
                  <img src="{{user.profilLink}}" alt="profil image" class="w-16 h-16 rounded-full object-cover object-center" />
                </a>
              </div>
              <div class="ml-3 md:ml-0 w-[80%] md:w-auto">
                <form action="/tweet/create" method="POST" class="lg:flex flex-col justify-between">
                  {{ csrfField() }}
                  <fieldset class="w-full">
                    <textarea
                      id="tweetContent"
                      name="content"
                      minlength="10"
                      maxlength="255"
                      class="appearance-none overflow-hidden resize-none w-80 lg:w-128 min-h-28 bg-black outline-none border-none pt-4"
                      placeholder="What's happening ?"
                      required
                    ></textarea>
                  </fieldset>

                  <section class="flex justify-between pt-4">
                    <div class="flex justify-between items-center gap-4">
                      <div class="cursor-pointer transition duration-500 ease hover:bg-[#202327] rounded-full w-12 h-12 flex items-center justify-center">
                        <img src="/public/uploads/image.svg" alt="image icon" />
                      </div>
                      <div class="cursor-pointer transition duration-500 ease hover:bg-[#202327] rounded-full w-12 h-12 flex items-center justify-center">
                        <img src="/public/uploads/Gif.svg" alt="/public/uploads/Schedule.svg" />

                      </div>

                      <div class="cursor-pointer transition duration-500 ease hover:bg-[#202327] rounded-full w-12 h-12 flex items-center justify-center">
                        <img src="/public/uploads/bar.svg" alt="/public/uploads/Schedule.svg" />

                      </div>

                      <div class="cursor-pointer transition duration-500 ease hover:bg-[#202327] rounded-full w-12 h-12 flex items-center justify-center">
                        <img src="/public/uploads/smile.svg" alt="smile icon" />
                      </div>
                      <div class="cursor-pointer transition duration-500 ease hover:bg-[#202327] rounded-full w-12 h-12 flex items-center justify-center">
                        <img src="/public/uploads/Schedule.svg" alt="/public/uploads/Schedule.svg" />
                      </div>
                    </div>

                    <fieldset class="flex justify-end absolute right-2 bottom-3 md:right-6">
                      <button
                        class="w-full bg-blue-500 px-6 py-3 rounded-full transition duration-300 ease hover:bg-blue-600"
                        type="submit"
                      >
                        tweet
                      </button>
                    </fieldset>
                  </section>

                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="tweets">
          <div>
            @each(tweet in tweets)
              <div class="flex items-start gap-3 p-4 border-b border-gray-700">
                <a href="#">
                  <img
                    src="{{tweet.user.profilLink}}"
                    alt=""
                    class="w-48 lg:w-40 h-auto border-gray-700 rounded-full"
                  />
                </a>
                <div class="space-y-2">
                  <div>
                    <div class="flex items-center gap-4">
                      <div class="flex items-center gap-2">
                        <p class="capitalize ">
                          {{tweet.user.fullName}}
                        </p>
                        <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                      </div>
                      <div class="flex items-center gap-1">
                        <p class="text-gray-500">
                          {{tweet.user.userName}}
                        </p>
                        <p class="text-gray-600">
                          . 2h
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-4">
                    <p>
                      {{tweet.content}}
                    </p>
                    @if(tweet.media) 
                      <img src="{{tweet.media}}" alt="tweet media" class="border border-gray-600 rounded-xl" />
                    @end
                  </div>
                  <div class="flex justify-between items-center pt-2 mr-14 w-[90%]">
                    <div class="flex items-center gap-4">
                      <img src="/public/uploads/comment.svg" alt="" />
                      <p>
                        19
                      </p>
                    </div>
                    <div class="flex items-center gap-4">
                      <img src="/public/uploads/loop.svg" alt="" />
                      <p>
                        48
                      </p>
                    </div>
                    <div class="flex items-center gap-4">
                      <img src="/public/uploads/love.svg" alt="" />
                      <p>
                        482
                      </p>
                    </div>
                    <div>
                      <img src="/public/uploads/doawnload.svg" alt="" />                </div>
                  </div>
                </div>
              </div>
            @end
          </div>
          <div class="flex items-start gap-3 p-4 border-b border-gray-700">
            <a href="#">
              <img
                src="/public/uploads/image-1(1).png"
                alt="profil1"
                class="w-48 lg:w-40 h-auto border-gray-700 rounded-full"
              />
            </a>
            <div class="space-y-2">
              <div>
                <div class="flex items-center gap-4">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      CNN
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                  </div>
                  <div class="flex items-center gap-1">
                    <p class="text-gray-500">
                      @CNN
                    </p>
                    <p class="text-gray-600">
                      . 7min
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione culpa sapiente, sequi fugiat reprehenderit magni tenetur velit ex quia aperiam autem. Id odio vero tenetur excepturi voluptatum temporibus tempora doloremque.
                </p>
              </div>
              <div class="flex justify-between items-center pt-2 mr-14 w-[90%]">
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/comment.svg" alt="" />
                  <p>
                    57
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/loop.svg" alt="" />
                  <p>
                    144
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/love.svg" alt="" />
                  <p>
                    184
                  </p>
                </div>
                <div>
                  <img src="/public/uploads/doawnload.svg" alt="" />                </div>
              </div>
            </div>
          </div>

          <div class="flex items-start gap-3 p-4 border-b border-gray-700">
            <a href="#">
              <img
                src="/public/uploads/image-2(1).png"
                alt=""
                class="w-48 lg:w-40 h-auto border-gray-700 rounded-full"
              />
            </a>
            <div class="space-y-2">
              <div>
                <div class="flex items-center gap-4">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      the new york times
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                  </div>
                  <div class="flex items-center gap-1">
                    <p class="text-gray-500">
                      @nytimes
                    </p>
                    <p class="text-gray-600">
                      . 2h
                    </p>
                  </div>
                </div>
              </div>
              <div class="space-y-4">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione culpa sapiente, sequi fugiat reprehenderit magni tenetur velit ex quia aperiam autem. Id odio vero tenetur excepturi voluptatum temporibus tempora doloremque.
                </p>
                <img src="/public/uploads/photo.png" alt="" class="border border-gray-600 rounded-xl" />
              </div>
              <div class="flex justify-between items-center pt-2 mr-14 w-[90%]">
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/comment.svg" alt="" />
                  <p>
                    19
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/loop.svg" alt="" />
                  <p>
                    48
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/love.svg" alt="" />
                  <p>
                    482
                  </p>
                </div>
                <div>
                  <img src="/public/uploads/doawnload.svg" alt="" />                </div>
              </div>
            </div>
          </div>

          <div class="flex items-start gap-3 p-4 border-b border-gray-700">
            <a href="#">
              <img src="/public/uploads/image-3.png" alt="" class="w-18 h-auto border-gray-700 rounded-full" />
            </a>
            <div class="space-y-2">
              <div>
                <div class="flex items-center gap-4">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      Twitter
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                  </div>
                  <div class="flex items-center gap-1">
                    <p class="text-gray-500">
                      @CNN
                    </p>
                    <p class="text-gray-600">
                      . Oct 29
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <p>
                  BIG NEWS lol jk still Twitter
                </p>
              </div>
              <div class="flex justify-between items-center pt-2 mr-14 w-full">
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/comment.svg" alt="" />
                  <p>
                    6.8K
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/loop.svg" alt="" />
                  <p>
                    36.6K
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/love.svg" alt="" />
                  <p>
                    267.1K
                  </p>
                </div>
                <div>
                  <img src="/public/uploads/doawnload.svg" alt="" />                </div>
              </div>
            </div>
          </div>

          <div class="flex items-start gap-3 p-4 border-b border-gray-700">
            <a href="#">
              <img src="/public/uploads/image-3.png" alt="" class="w-18 h-auto rounded-full" />
            </a>
            <div class="space-y-2">
              <div>
                <div class="flex items-center gap-4">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      Twitter
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                  </div>
                  <div class="flex items-center gap-1">
                    <p class="text-gray-500">
                      @CNN
                    </p>
                    <p class="text-gray-600">
                      . Oct 4
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <p>
                  hello literally everyone
                </p>
              </div>
              <div class="flex justify-between items-center pt-2 mr-14 w-[90%]">
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/comment.svg" alt="" />
                  <p>
                    118.7K
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/loop.svg" alt="" />
                  <p>
                    785.4K
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/love.svg" alt="" />
                  <p>
                    3.3M
                  </p>
                </div>
                <div>
                  <img src="/public/uploads/doawnload.svg" alt="" />                </div>
              </div>
            </div>
          </div>

          <div class="flex items-start gap-3 p-4 border-b border-gray-700">
            <a href="#">
              <img src="/public/uploads/image-3.png" alt="" class="w-18 h-auto border border-gray-700 rounded-full" />
            </a>
            <div class="space-y-2">
              <div>
                <div class="flex items-center gap-4">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      Twitter
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto" />
                  </div>
                  <div class="flex items-center gap-1">
                    <p class="text-gray-500">
                      @CNN
                    </p>
                    <p class="text-gray-600">
                      . Oct 29
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <p>
                  hello literally everyone
                </p>
              </div>
              <div class="flex justify-between items-center pt-2 mr-14 w-[90%]">
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/comment.svg" alt="" />
                  <p>
                    6.8K
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/loop.svg" alt="" />
                  <p>
                    36.6K
                  </p>
                </div>
                <div class="flex items-center gap-4">
                  <img src="/public/uploads/love.svg" alt="" class="bg-red-500" />
                  <p>
                    267.1K
                  </p>
                </div>
                <div>
                  <img src="/public/uploads/doawnload.svg" alt="" />                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  @endslot
@end
