<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>
        Page profil
    </h1>
</body>
</html>







            
  <div class="flex items-end">
    @component('components/button2', {  })

    @endcomponent
  </div>