
@layout.app({title:"profil", notifications, user})
  @slot('main')
    <div class="flex justify-center  md:border-x border-gray-700  w-full">
      <section class="min-h-screen space-y-8 ">
        <div class="relative h-48 bg-zinc-900 bg-cover bg-center bg-gray-900 w-full ">
          @if(!user.profilLink)
            <div
              class="bg-zinc-800 w-32 h-32 text-5xl rounded-full flex items-center justify-center font-bold absolute top-32 z-10 left-8 border-4 border-black"
            >
              {{ user.fullName.substring(0, 1).toUpperCase() }}
            </div>
          @else
            <img
              src="{{ user.profilLink }}"
              alt="profil image"
              class="w-32 h-32 rounded-full bg-indigo-600 absolute top-32 z-10 left-8 border-4 border-black object-cover"
            />
          @endif
        </div>

        <div class="pt-12 pb-2 space-y-4 relative">
          <div class="flex gap-4 px-4 ">
            <div class="">
              <h1 class="font-bold capitalize">
                {{ user.fullName }}
              </h1>
              <p class="text-gray-700">
                {{ user.userName }}
              </p>
            </div>
            <div>
              <a
                href="#"
                class="font-bold inline-block space-x-1 px-4 border border-gray-600 rounded-full transition duration-300 ease hover:bg-gray-900"
              >
                <i class="bi bi-patch-check-fill text-blue-400">

                </i>
                <span>Get verified</span>
              </a>
            </div>
          </div>

          <div class="space-y-3 px-4">
            <p class="text-gray-700">
              <i class="bi bi-calendar"></i>joined <span>October 2024</span>
            </p>
            <div class="flex items-center gap-4">
              <p>
                {{ followings }} <span class="text-gray-700">Following</span>
              </p>
              <p>
                {{ followers }} <span class="text-gray-700">Followers</span>
              </p>
            </div>
          </div>

          <a
            href="#"
            class=" px-4 py-2 rounded-full capitalize inline-block transition duration-300 hover:bg-gray-900 border border-gray-700 absolute right-2 -top-8 md:top-0"
          >
            edit profile
          </a>

          <div x-data="{ tab: 'tweets' }" class="mt-20">
            <!--les Onglets -->
            <ul class="flex justify-between items-center border-b border-zinc-700">
              <template x-for="item in ['tweets', 'replies', 'highlights', 'articles', 'media', 'likes']" :key="item">
                <li>
                  <button
                    @click="tab = item"
                    :class="{
                      'border-b-4 border-blue-600 font-semibold': tab === item,
                      'text-gray-600 hover:text-blue-500': tab !== item
                    }"
                    class="capitalize px-2"
                  >
                    <span x-text="item"></span>
                  </button>
                </li>
              </template>
            </ul>
          
            <div class="mt-6 space-y-4 px-2">
              <div x-show="tab === 'tweets'">
                <h1 class="text-2xl font-bold">Who to follow</h1>
                <section>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nisi...</p>
                </section>
              </div>
          
              <div x-show="tab === 'replies'">
                <h1 class="text-2xl font-bold">Who to replies</h1>
                <section>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. A quisquam...</p>
                </section>
              </div>
          
              <div x-show="tab === 'highlights'">
                <h1 class="text-2xl font-bold">Highlights</h1>
                <section>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores...</p>
                </section>
              </div>
          
              <div x-show="tab === 'articles'">
                <h1 class="text-2xl font-bold">Articles</h1>
                <section>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum inventore...</p>
                </section>
              </div>
          
              <div x-show="tab === 'media'">
                <h1 class="text-2xl font-bold">Media</h1>
                <section>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis...</p>
                </section>
              </div>
          
              <div x-show="tab === 'likes'">
                <h1 class="text-2xl font-bold">Likes</h1>
                <section>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, earum...</p>
                </section>
              </div>
            </div>
          </div>
          
        </div>

      </section>
    </div>
    <script>
      
    </script>

  @endslot
  
@end
