
@layout.app({title:"Home"})
  @slot('main')

    <div class="flex justify-center">
      <section class="w-[25%] lg:w-[15%] space-y-10 p-4 relative">
        <div class="fixed space-y-6">

          <section class="space-y-4 mt-6">
            <div class="pl-6">
              <img src="/public/uploads/twitter-logo.svg" alt="logo">
            </div>
            <div>
              <a href="/">
                <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                  <img src="/public/uploads/home.svg" alt="">
                  <P class="pl-4 font-semibold text-lg capitalize">
                    home
                  </P>
                </div>
              </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                  <img src="/public/uploads/diez.svg" alt="">
                  <P class="pl-4 font-semibold text-lg capitalize">
                    explore
                  </P>
                </div>
              </a>
            </div>
            <div>
             <a href="#">
                <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                  <img src="/public/uploads/notification.svg" alt="">
                  <P class="pl-4 font-semibold text-lg capitalize">
                    notification
                  </P>
                </div>
             </a>
            </div>
            <div>
              <a href="#">
                <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                  <img src="/public/uploads/message.svg" alt="">
                  <P class="pl-4 font-semibold text-lg capitalize">
                    messages
                  </P>
                </div>
              </a>
            </div>
            <div>
                <a href="#">
                  <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                    <img src="/public/uploads/badge.svg" alt="">
                    <P class="pl-4 font-semibold text-lg capitalize">
                      bookmarks
                    </P>
                  </div>
                </a>
            </div>
            <div>
                <a href="#">
                  <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                    <img src="/public/uploads/list.svg" alt="">
                    <P class="pl-4 font-semibold text-lg capitalize">
                      lists
                    </P>
                  </div>
                </a>
            </div>
            <div>
                <a href="/users">
                  <div class="flex items-center bg-[#202327] rounded-full px-6 py-4">
                    <img src="/public/uploads/profil.svg" alt="">
                    <P class="pl-4 font-semibold text-lg capitalize">
                      profil
                    </P>
                  </div>
                </a>
            </div>
            <div>
                <a href="#">
                  <div class="flex items-center transition duration-400 ease hover:bg-[#202327] rounded-full px-6 py-4">
                    <img src="/public/uploads/etc-circle.svg" alt="">
                    <P class="pl-4 font-semibold text-lg capitalize">
                      more
                    </P>
                  </div>
                </a>
            </div>
          </section>

        <div class="">
            @component('components/tweetBtn', {type:'submit'})
            @endcomponent
        </div>
        </div>

       <div class="profil flex items-center space-x-4 fixed bottom-10 right-[75%]">
          <a href="/users">
            <img src="/public/uploads/Profile-Photo.png" alt="profil" class="w-16 h-auto rounded-full">
          </a>
          <div>
            <div class="flex items-center gap-1">
              <p class="font-bold capitalize">
                bradley  ortiz
              </p>
              
              <img src="/public/uploads/lock.svg" alt="">

            </div>
            <p class="text-gray-600">
              @bradley_
            </p>
          </div>
          <img src="/public/uploads/etc.svg" alt="">
       </div>
      </section>
      <section class="border-x border-gray-700 w-1/2 lg:w-[35%] space-y-8 min-h-screen">
        <div class="relative h-48 bg-[url(/public/uploads/pexels-mikhail-nilov-7988079.jpg)] bg-cover bg-center bg-gray-900 w-full ">
            <img src="/public/uploads/Profile-Photo.png" alt="profil image" class="w-32 h-32 rounded-full bg-indigo-600 absolute top-32 z-10 left-8 border-4 border-black">
        </div>

        <div class="pt-12 pb-2 px-4 space-y-4 relative">
          <div class="flex gap-4">
            <div class="">
              <h1 class="font-bold capitalize">
                bradley ortiz
              </h1>
              <p class="text-gray-700">
                @bradley_
              </p>
            </div>
            <div>
              <a href="#" class="font-bold inline-block space-x-1 px-4 border border-gray-600 rounded-full transition duration-300 ease hover:bg-gray-900">
                <i class="bi bi-patch-check-fill text-blue-400">
  
                </i>
                <span>Get verified</span>
              </a>
            </div>
          </div>
  
          <div class="space-y-3">
            <p class="text-gray-700">
              <i class="bi bi-calendar"></i> joined <span> October 2024</span>
            </p>
            <div class="flex items-center gap-4">
              <p>
                4 <span class="text-gray-700">Following</span> 
              </p>
              <p>
                0 <span class="text-gray-700">Followers</span> 
              </p>
            </div>
          </div>

            <a href="#" class=" px-4 py-2 rounded-full capitalize inline-block transition duration-300 hover:bg-gray-900 border border-gray-700 absolute right-2 top-0">
              edit profile
            </a>

        </div>

      </section>
      <section class="flex flex-col py-4 w-[25%] lg:w-[20%] lg:mx-8 space-y-8">
        <div class="flex items-center w-full">
          <fieldset class="w-full relative">
            <i class="bi bi-search absolute text-gray-500 left-4 top-2"></i>
            <input
            type="search"
            name="search"
            id=""
            class="bg-[#202327] rounded-full py-2 pl-12 w-full"
            placeholder="Search Twitter"
          />
          </fieldset>
        </div>
        <section class="bg-[#202327] rounded-lg w-full p-4 space-y-6">
          <div class="py-4">
            <h2 class="font-bold text-xl">
              Trends for you
            </h2>
            <div>

            </div>
          </div>

          <div class="space-y-4">
            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <p class="text-gray-600">
                  Trending in Turkey
                </p>
                <img src="/public/uploads/etc.svg" alt="">
              </div>
              <h3 class="text-md font-bold">
                #SQUID
              </h3>
              <p class="text-gray-600">
                2,066 Tweets
              </p>
            </div>

            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <p class="text-gray-600">
                  Trending in Turkey
                </p>
                <img src="/public/uploads/etc.svg" alt="">
              </div>
              <h3 class="text-md font-bold">
                #SQUID
              </h3>
              <p class="text-gray-600">
                2,066 Tweets
              </p>
            </div>

            <div class="space-y-1">
              <div class="flex items-center justify-between">
                <p class="text-gray-600">
                  Trending in Turkey
                </p>
                <img src="/public/uploads/etc.svg" alt="">
              </div>
              <h3 class="text-md font-bold">
                #SQUID
              </h3>
              <p class="text-gray-600">
                2,066 Tweets
              </p>
            </div>

          </div>
          <div class="text-blue-400 mb-4">
            <a href="#" class="font-semibold">Show more</a>
          </div>
        </section>

        <section class="bg-[#202327] rounded-lg w-full p-4 space-y-4">
          <div class="pb-6">
            <h2 class="font-bold text-xl">
              Who to follow
            </h2>
            <div>
              <i></i>
            </div>
          </div>

          <div class="space-y-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <img src="/public/uploads/image-2(1).png" alt="">
                <div class="">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      the new york times
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto">
                  </div>
                  <p class="text-gray-500">
                    @nytimes
                  </p>
                </div>
              </div>
              @component('components/followBtn', {  })
                
              @end
            </div>
          </div>

          <div class="space-y-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <img src="/public/uploads/image-1(1).png" alt="">
                <div class="">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      CNN
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto">
                  </div>
                  <p class="text-gray-500">
                    @CNN
                  </p>
                </div>
              </div>
              @component('components/followBtn', {  })
                
              @end
            </div>
          </div>

          <div class="space-y-2">
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-2">
                <img src="/public/uploads/image-3.png" alt="">
                <div class="">
                  <div class="flex items-center gap-2">
                    <p class="capitalize ">
                      twitter
                    </p>
                    <img src="/public/uploads/check.svg" alt="" class=" w-4 h-auto">
                  </div>
                  <p class="text-gray-500">
                    @Twitter
                  </p>
                </div>
              </div>
              @component('components/followBtn', {  })
                
              @end
            </div>
          </div>
          <div class="text-blue-400 my-4">
            <a href="#" class="font-semibold">Show more</a>
          </div>
        </section>

        <section>

        </section>
      </section>
    </div>

  @endslot
  
@end
