
@layout.app({title:"profil", notifications, user})
  @slot('main')
    <div class="flex justify-center  md:border-x border-gray-700  w-full">
      <section class="min-h-screen space-y-8 ">
         <!-- NAV BAR -->
         <nav class="nav-bar sticky -top-2 flex items-center justify-between px-2 py-4 md:p-4 border-b border-b-blue-400/50 z-50 bg-black/70 backdrop-blur-sm">
          <p class="capitalize font-semibold text-xl">home</p>
          <button class="open-drawer" data-drawer-target="main-drawer">
            <img src="/public/uploads/logo1.svg" alt="home icon" class="w-6 h-6" />
          </button>
        </nav>
        <div class="relative h-48 bg-zinc-900 bg-cover bg-center bg-gray-900 w-full ">
          @if(!user.profilLink)
            <div
              class="bg-zinc-800 w-32 h-32 text-5xl rounded-full flex items-center justify-center font-bold absolute top-32 z-10 left-8 border-4 border-black"
            >
              {{ user.fullName.substring(0, 1).toUpperCase() }}
            </div>
          @else
            <img
              src="{{ user.profilLink }}"
              alt="profil image"
              class="w-32 h-32 rounded-full bg-indigo-600 absolute top-32 z-10 left-8 border-4 border-black object-cover"
            />
          @endif
        </div>

        <div class="pt-12 pb-2 space-y-4 relative">
          <div class="flex gap-4 px-4 ">
            <div class="">
              <h1 class="font-bold capitalize">
                {{ user.fullName }}
              </h1>
              <p class="text-gray-700">
                {{ user.userName }}
              </p>
            </div>
          </div>

          <div class="space-y-3 px-4">
            <p class="text-gray-700">
              <i class="bi bi-calendar"></i>joined <span>October 2024</span>
            </p>
            <div class="flex items-center gap-4">
              <p>
                {{ followings }} <span class="text-gray-700">Following</span>
              </p>
              <p>
                {{ followers }} <span class="text-gray-700">Followers</span>
              </p>
            </div>
          </div>

          <form action="/follow/addOrDelete/{{ user.id }}" method="POST">
            {{ csrfField() }}

            <button
              type="submit"
              class=" px-4 py-2 rounded-full capitalize inline-block transition duration-300 hover:bg-gray-900 border border-gray-700 absolute right-2 -top-8 md:top-0"
            >
              {{ isFollowing ? 'unfollow':'follow' }}
            </button>
          </form>

          {{--  boutons d'activation de table   --}}

          <div x-data="{ tab: 'tweets' }" class="mt-20">
            <!--les Onglets -->
            <ul class="flex justify-between items-center border-b border-zinc-700">
              <template x-for="item in ['tweets', 'replies',, 'articles', 'media', 'likes']" :key="item">
                <li>
                  <button
                    @click="tab = item"
                    :class="{
                      'border-b-4 border-blue-600 font-semibold': tab === item,
                      'text-gray-600 hover:text-blue-500': tab !== item
                    }"
                    class="capitalize px-2"
                  >
                    <span x-text="item"></span>
                  </button>
                </li>
              </template>
            </ul>

            <div class="mt-6 space-y-4 px-2">
              <div x-show="tab === 'tweets'">
                <h1 class="text-2xl font-bold">
                  Who to follow
                </h1>
                <section>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nisi...
                  </p>
                </section>
              </div>

              <div x-show="tab === 'replies'">
                <h1 class="text-2xl font-bold">
                  Who to replies
                </h1>
                <section>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A quisquam...
                  </p>
                </section>
              </div>

              {{-- <div x-show="tab === 'highlights'">
                <h1 class="text-2xl font-bold">
                  Highlights
                </h1>
                <section>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores...
                  </p>
                </section>
              </div> --}}

              <div x-show="tab === 'articles'">
                <h1 class="text-2xl font-bold">
                  Articles
                </h1>
                <section>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum inventore...
                  </p>
                </section>
              </div>

              <div x-show="tab === 'media'">
                <h1 class="text-2xl font-bold">
                  Media
                </h1>
                <section>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla corporis...
                  </p>
                </section>
              </div>

              <div x-show="tab === 'likes'">
                <h1 class="text-2xl font-bold">
                  Likes
                </h1>
                <section>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, earum...
                  </p>
                </section>
              </div>
            </div>
          </div>

        </section>
         <!-- Drawer mobile overlay -->
    <div
    class="drawer-overlay fixed inset-0 z-50 bg-black/60 backdrop-blur-sm transition-opacity duration-300 opacity-0 pointer-events-none md:hidden min-h-screen"
    data-drawer-id="main-drawer"
    >
    </div>

    <!-- Drawer panel -->
    <div
    class="drawer-panel fixed top-0 left-0 h-screen w-[70%] bg-black z-50 transform -translate-x-full transition-transform duration-300 md:hidden"
    data-drawer-id="main-drawer"
    >
    <button class="close-drawer absolute top-4 right-4 text-2xl">&times;</button>

    <!-- Drawer nav: même contenu que le <nav> du header -->
    <nav class="space-y-6 lg:space-y-2 mt-10 h-full">
      <section class="space-y-2 mt-6 mx-4">
        <div class="flex justify-start mb-12 ml-4">
          <img src="/public/uploads/twitter-logo.svg" alt="logo" />
        </div>

        <div>
          <a href="/">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/home.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">home</p>
            </div>
          </a>
        </div>

        <div>
          <a href="#">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/diez.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">explore</p>
            </div>
          </a>
        </div>

        <div>
          <a href="/notifications">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <div class="relative">
                @if(notifications > 0)
                <p class="absolute text-center bg-blue-500 rounded-full text-xs w-4 h-4 -top-1 -right-1">
                  {{ notifications }}
                </p>
                @end
                <img src="/public/uploads/notification.svg" alt="" />
              </div>
              <p class="pl-4 font-semibold text-lg capitalize">notification</p>
            </div>
          </a>
        </div>

        <div>
          <a href="/messages">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/message.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">messages</p>
            </div>
          </a>
        </div>

        <div>
          <a href="#">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/badge.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">bookmarks</p>
            </div>
          </a>
        </div>

        <div>
          <a href="#">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/list.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">lists</p>
            </div>
          </a>
        </div>

        <div>
          <a href="/profil">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/profil.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">profil</p>
            </div>
          </a>
        </div>

        <div>
          <a href="#">
            <div
              class="flex items-center justify-start transition duration-400 ease hover:bg-[#202327] rounded-full p-4"
            >
              <img src="/public/uploads/etc-circle.svg" alt="" />
              <p class="pl-4 font-semibold text-lg capitalize">more</p>
            </div>
          </a>
        </div>
      </section>
    </nav>
    </div>
      </div>
      <script>
        function openTable(tabId) {
          document.querySelectorAll(".tab-content").forEach(content => {
            content.classList.add("hidden");
          });
          document.querySelectorAll(".tab-button").forEach(button => {
            button.classList.add("transition", "duration-500");
          });
          document.getElementById(tabId).classList.remove("hidden");
          event.currentTarget.classList.add("border-b", "border-gray-700");
          // event.currentTarget.classList.remove("border-b", "border-gray-700");
        }
      </script>

    @endslot
    
  @end
